const http = require('http');
const os = require('os');
const port = {{ app_port }};

const server = http.createServer((req, res) => {
  res.statusCode = 200;
  res.setHeader('Content-Type', 'text/plain');
  res.end('Hello from {{ app_name }} running on ' + os.hostname() + '\n');
});

server.listen(port, () => {
  console.log(`Server running on port ${port}`);
});